.navbar ul {
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
}

.navbar ul li {
    margin-left: 0;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

 .navbar ul li a {
    display: block; /* Make links take full width */
    padding: 10px;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}
